@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transition: .2s linear;
}

#navbar {
    display: flex;
    background-color: #000;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF;
    margin-right: 10px;
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#name {
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
}

#navbar-buttons {
    display: flex;
    align-items: center;
    font-size: 22px;
}

#navbar-buttons button {
    background: radial-gradient(ellipse farthest-corner at right bottom, #191970 0%, #1E3A8A 15%, #0F172A 40%, #020617 70%, transparent 90%  ), radial-gradient(ellipse farthest-corner at left top, #1E40AF 0%,     #3B82F6 15%,    #1E3A8A 40%,    #111827 70%, #020617 100% );
    color: #FFF;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#navbar-buttons button:hover {
    background: #4f2f8a;
}

footer {
    color: #DDD;
    font-size: 14px;
    text-align: center;
    padding: 40px 20px 10px 20px;
}

footer a {
    color: #DDD;
    text-decoration: none
}

/* Leaderboard */


table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #DDDDDD10;
}

th {
    font-weight: bold;
    font-size: 20px;
    background-color: #000;
    color: #DDD;
}

/* Credits */

.credits-container {
    padding: 15px 9%;
    padding-bottom: 100px;
}

.credits-container h3 {
    font-size: 25px;
}

.credits-container .heading {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 25px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.credits-container .heading2 {
    text-align: center;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.credits-container .heading3 {
    text-align: center;
    color: #ddd;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 20px;
    padding: 5px;
}

.credits-container .box-credits-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.credits-container .box-credits-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
   background: radial-gradient(ellipse farthest-corner at right bottom, #191970 0%, #1E3A8A 15%, #0F172A 40%, #020617 70%, transparent 90%  ), radial-gradient(ellipse farthest-corner at left top, #1E40AF 0%,     #3B82F6 15%,    #1E3A8A 40%,    #111827 70%, #020617 100% );
    text-align: center;
    padding: 30px 20px;
}

.credits-container .box-credits-container .box img {
    height: 200px;
    border-radius: 100%;
    border: 10px solid #150b6b;
}

.credits-container .box-credits-container h3 {
    color: rgb(254, 250, 250);
    font-family: 40px;
    font-weight: 20px;
    padding: 10px 0;
}

.credits-container .box-credits-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

#intro h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  /* futuristic */
  font-size: 4rem;
  font-weight: 700;}

@media(max-width:768px) {
    .credits-container {
        padding: 20px;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        width: 70px;
        height: 70px;
        min-width: 70px;
        min-height: 70px;
    }
    #logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #name {
        font-size: 18px;
    }
}
